.App {
  font-family: sans-serif;
  text-align: center;
}
.board{
  display: grid;
  column-gap: 5px;
  row-gap: 5px;
  
}
.block {
  width: 70px;
  height: 70px;
  
}
.block:disabled{
  color: #333;
}
.highlight {
  background-color: rgb(78, 153, 3);
  color: #333;
  font-weight: 700;
}
.winner{
  background-color: red;
}


.game-wrapper{
  display: flex;
  width: 100%;
  
}
